@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-image: url("../bg-pattern-top.svg"),
      url("../bg-pattern-bottom.svg");
    background-color: hsl(185, 75%, 39%);
    background-repeat: no-repeat;
    background-position: right 50vw bottom 40vh, left 50vw top 50vh;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 18px;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
